### Your bot configuration file

# The token is obtained when you register your bot account to discord
# application service, see https://discordapp.com/developers/applications

# Your bot id can be obtained on your bot application page

# Your bot name is simply the name you decided to give to your bot

token=Your.Super.Long.Bot.Token
id=Bot.Id.Made.Of.Numbers
name=Your.Awsome.Bot.Name
